.header{
  display: flex;
  flex-direction: row;
  margin:auto;
  color: aliceblue;

}

.brandName{
  color: rgb(15, 141, 99);
}
.navBar{
  display: flex;
  flex-direction: row;  
  background: url(../src/inicio.jpg);
  background-size: cover;
  width: 100%;
  
 }

 .item-nav{
 
   margin-left: 50px;
   margin-right: 50px;  
   color: aliceblue; 
   
    
   
 }
 .carrito{
  display:inline-block;
    float:left;
    height:70px;
    width:70px;
 
   

 }
 
 .activeClass {
  color: rgb(58, 218, 143);
  font-size: 25px;
  flex-direction: column;
}
 
.small-img {
  height: 90px;
  
}
 
 .logo{
  width: 80px;
  height:80px;
}

