.header{
  display: flex;
  flex-direction: row;
  margin:auto;
  color: aliceblue;

}

.brandName{
  color: aquamarine;
}
.navBar{
  display: flex;
  flex-direction: row;  
  background: url(../src/inicio.jpg);
  background-size: cover;
  width: 100%;
 }

 .item-nav{
 
   margin-left: 50px;
   margin-right: 50px;  
   color: aliceblue; 
   
 }
 .logo{
  width: 80px;
  height:80px;
   
    
}